<div class="coffee-card" *ngIf="coffee()" [class.is-favorite]="coffee().isFavorite">
    <div class="card-image">
        <img [src]="coffee().imageUrl" [alt]="coffee().name">
        <div class="favorite-btn" [class.active]="coffee().isFavorite" (click)="toggleFavorite($event)">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                [attr.fill]="coffee().isFavorite ? 'currentColor' : 'none'" stroke="currentColor" stroke-width="2"
                stroke-linecap="round" stroke-linejoin="round">
                <path
                    d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z">
                </path>
            </svg>
        </div>
    </div>
    <div class="card-content">
        <h3>{{ coffee().name }}</h3>
        <p class="description">{{ coffee().description }}</p>
        <div class="price-order">
            <div class="price">
                {{ coffee().price }} €
            </div>
            <button (click)="onOrderNow()" class="order-btn">Order Now</button>
        </div>
    </div>
</div>