:host {
    display: block;
    width: 100%;
    min-height: 100vh;
  }
  
  router-outlet {
    width: 100%;
  }
  ::ng-deep router-outlet + * {
    display: block;
    width: 100%;
  }

  :host {
    background-image: url('/assets/images/bg3.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }